---
layout: site
---

{% if site.environment == "production" %}
  {% assign resources = site.resources %}
{% else %}
  {% assign resources = "/resources" %}
{% endif %}

<div class="page">

  <section id="home" class="one">
  <div class="box">

    <img class="image featured" src="{{ resources }}/header.jpg" alt="Salt Lake Valley, Utah, mountains and sky" />

    <section id="about" class="one">
    <header>
      <img src="{{ resources }}/profile.jpg" class="profile" alt="profile picture" />
      <h1 class="intro">
        <span class="introText">Hello, I'm</span>
        <a href="mailto:{{ site.email }}">
          {{ site.name }}</a>.
      </h1>
    </header>

    <p class="goal">
      I investigate the use and creation of data visualization prototypes
      across various domains through a human-centered design process.
    </p>
    
    <footer>
      <div class="links">
        <div class="link">
          <p>
            <a href="{{ resources }}/cv.pdf">
              CV
              <span class="fa fa-file-text fa-lg"></span>
            </a>
          </p>
        </div>
        <div class="link">
          {% include icons.html %}
        </div>
      </div>
      Also, I love <a href="games/">board games.
        <span class="fa fa-puzzle-piece fa-lg"></span>
      </a>
    </footer>
    </section>
  </div>
  </section>

  <section id="projects">
  <div class="box">
    <header>
      <h2>Projects</h2>
    </header>

    <p>
      My research involves domains such as design, human-computer interaction, biology, and cyber security.
    </p>

    <div class="cards">

    {% assign sortedProjects = collections.projects %}
    {% for proj in sortedProjects reversed %}
      <article class="card">
        <a href="projects/{{ proj.data.project }}/" class="image full">
          <img src="{{ resources }}/images/{{ proj.data.project }}.png" alt="{{ proj.data.imageAlt }}" />
        <header>
          {{ proj.data.title }}
        </header>
        </a>
      </article>
    {% endfor %}

    </div>
  </div>
  </section>

  <section id="code">
  <div class="box">
    <header>
      <h2>Code</h2>
    </header>

    <p>
      I thoroughly enjoy contributing to and releasing open-source software.
      <br>
      Check out my releases below, or follow me
      <a href="https://www.github.com/{{ site.username }}">on GitHub</a>.
    </p>

    <div class="cards">

    {% assign sortedCoding = collections.coding %}
    {% for code in sortedCoding reversed %}
      <article class="card">
        <a href="{{ code.data.link }}" class="image full">
          <img src="{{ resources }}/images/{{ code.data.project }}.png" alt="{{ code.data.imageAlt }}" />
        <header>
          {{ code.data.tag }}
        </header>
        </a>
      </article>
    {% endfor %}

    </div>
  </div>
  </section>
</div>
