<!-- Main -->
<div id="main">
  
  <!-- Intro -->
  <section id="top" class="one">
  <div class="container">
  
    <img class="image featured" src="images/header.jpg" alt="Salt Lake Valley, Utah, mountains and sky" />
    
    <!-- About -->
    <section id="about" class="one">
    
    <header>
      <h2 class="alt">Hello, I'm <strong><a href="mailto:<%= email %>">Sean McKenna</a></strong>.</h2>
    </header>
    
    <p>
      While pursuing a Ph.D. in Visualization under the guidance of
      <a href="http://www.cs.utah.edu/~miriah/">Dr. Miriah Meyer</a>,
      I work closely with collaborators in their respective fields
      to tackle the challenges they face with visualizing their data.
    </p>
    
    <footer>
    <div class="row">
      <div class="-3u 3u">
        <p>
          <a href="cv/">My CV &nbsp; <span class="fa fa-file solo"></span></a>
        </p>
      </div>
      <div class="3u">
        <%- partial("_shared/social-media") %>
      </div>
    </div>
    </footer>
    
  </div>
  </section>
  </section>
    
  <!-- Projects -->
  <section id="projects" class="two">
  <div class="container">
    
    <header>
      <h2>Projects</h2>
    </header>
    
    <div class="row">
    
<%  var projects = public._data.projects;
    var count = 0;
    var stackedRows = 2;
    var numCols = 3;
    for(var p in projects) {
      
      // current project
      var project = projects[p];
      
      // two rows, stacked, per column
      if(count % stackedRows == 0) { %>
        
        <div class="4u">
        
<%    } %>
      
      <article class="item">
        <a href="<%= project.link %>" class="image full">
          <img src="<%= project.image %>" alt="<%= project.imageAlt %>" />
        </a>
        <header>
          <h3><%= project.tag %></h3>
        </header>
      </article>
      
<%    if(count % stackedRows == stackedRows - 1) { %>
        
        </div>
      
<%    }
      
      // create new rows for more content
      if(count % (stackedRows * numCols) == (stackedRows * numCols) - 1) { %>
        
        </div>
        
        <div class="row">
        
<%    }
      
      count++;
    } %>
    
    </div>
    
  </div>
  </section>
  
  <!-- Code -->
  <section id="code" class="three">
  <div class="container">
    
    <header>
      <h2>Code</h2>
    </header>
    
    <div class="row">
    
<%  var coding = public._data.coding;
    count = 0;
    stackedRows = 2;
    numCols = 3;
    for(var c in coding) {
      
      // current code
      var code = coding[c];
      
      // two rows, stacked, per column
      if(count % stackedRows == 0) { %>
        
        <div class="4u">
        
<%    } %>
      
      <article class="item">
        <a href="<%= code.link %>" class="image full">
          <img src="<%= code.image %>" alt="<%= code.imageAlt %>" />
        </a>
        <header>
          <h3><%= code.tag %></h3>
        </header>
      </article>
      
<%    if(count % stackedRows == stackedRows - 1) { %>
        
        </div>
      
<%    }
      
      // create new rows for more content
      if(count % (stackedRows * numCols) == (stackedRows * numCols) - 1) { %>
        
        </div>
        
        <div class="row">
        
<%    }
      
      count++;
    } %>
    
    </div>
  
  </div>
  </section>
  
</div>
