<!-- Header -->
<div id="header" class="skel-panels-fixed">
  
  <div class="top">
   
    <!-- Logo -->
    <div id="logo">
      <span class="image gravatar">
        <img src="<%= gravatar %>" alt="Gravatar profile image" />
      </span>
      <h1 id="title"><%= name %></h1>
      <span class="byline"><%= jobTitle %></span>
    </div>
   
<%  var top = "";
    if (current.path == 'index') {
      top = "#top";
    } %>
   
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="/<%= top %>" id="top-link" class="skel-panels-ignoreHref">
          <span class="fa fa-home">Home</span>
        </a></li>
        <li><a href="/#about" id="about-link" class="skel-panels-ignoreHref">
          <span class="fa fa-user">About</span>
        </a></li>
        <li><a href="/#projects" id="projects-link" class="skel-panels-ignoreHref">
          <span class="fa fa-folder-open">Projects</span>
        </a></li>
        <li><a href="/#code" id="code-link" class="skel-panels-ignoreHref">
          <span class="fa fa-code">Code</span>
        </a></li>
        <!--
        <li><a href="/#blog" id="blog-link" class="skel-panels-ignoreHref">
          <span class="fa fa-pencil">Blog</span>
        </a></li>
        <li><a href="/#photos" id="photos-link" class="skel-panels-ignoreHref">
          <span class="fa fa-camera">Photos</span>
        </a></li>
        -->
      </ul>
    </nav>
  
  </div>
  
  <div class="bottom">
   
    <%- partial("social-media") %>
  
  </div>
</div>
