---
layout: site
---

{% if project.environment == "development" %}
  {% assign resources = "/resources" %}
{% else %}
  {% assign resources = site.resources %}
{% endif %}

<div class="page">

  <section>
  <div class="project box">

    <header>
      <h1>{{ title }}</h1>
      by {{ authors }}
    </header>

    <img class="projectImage" src="{{ resources }}/images/{{ project }}.png" alt="{{ imageAlt }}"/>

    <div>
      <div class="links">
      {% for resourceObject in links %}
        {% assign resource = resourceObject.resource %}
          <span class="link projectLink">
            {% if resource[0].size > 1 %}
              <em>{{ resource[0] }}:</em>
            {% endif %}
          </span>
          <span class="link projectLink">
            {% if resource.size < 4 %}
              <a href="{{ resource[2] }}">{{ resource[1] }}</a>
            {% else %}
              <a href="{{ resources }}/{{ resource[2] }}{{ project }}{{resource[3]}}">{{ resource[1] }}</a>
            {% endif %}
          </span>
      {% endfor %}
      </div>

      {{ content }}

    </div>
  </div>
  </section>
</div>
